{% extends "layout/base.html" %}


{% block title %}
View Gender
{% endblock title %}

{% block content %}
<div class="container-fluid py-5" style="background-color: #1a237e;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title mb-0">Edit Information</h3>
                    </div>
                    <div class="card-body">
                        <form action="/user/update/{{ user.student_id }}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label text-white">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" >
                            </div>
                            <div class="mb-3">
                                <label for="middle_name" class="form-label text-white">Middle Name</label>
                                <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ user.middle_name }}" >
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label text-white">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" >
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label text-white">Age</label>
                                <input type="text" class="form-control" id="age" name="age" value="{{ user.age }}">
                            </div>
                            <div class="mb-3">
                                <label for="birth_date" class="form-label text-white">Birth Date</label>
                                <input type="text" class="form-control" id="birth_date" name="birth_date" value="{{ user.birth_date }}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="gender_id" class="form-label text-white">Gender</label>
                                <select name="gender_id" id="gender_id" class="form-select">
                                    <option value="">N/A</option>
                                    {% for gender in genders %}
                                        <option value="{{ gender.gender_id }}" {% if gender.gender_id == user.gender_id %}selected{% endif %}>{{ gender.gender }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="math" class="form-label text-white">Math</label>
                                    <input type="text" class="form-control" id="math" name="math" value="{{ user.math }}">
                                </div>
                                <div class="col">
                                    <label for="science" class="form-label text-white">Science</label>
                                    <input type="text" class="form-control" id="science" name="science" value="{{ user.science }}">
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="english" class="form-label text-white">English</label>
                                    <input type="text" class="form-control" id="english" name="english" value="{{ user.english }}">
                                </div>
                                <div class="col">
                                    <label for="filipino" class="form-label text-white">Filipino</label>
                                    <input type="text" class="form-control" id="filipino" name="filipino" value="{{ user.filipino }}">
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="history" class="form-label text-white">History</label>
                                    <input type="text" class="form-control" id="history" name="history" value="{{ user.history }}">
                                </div>
                                <div class="col">
                                    <label for="homeroom" class="form-label text-white">Homeroom</label>
                                    <input type="text" class="form-control" id="homeroom" name="homeroom" value="{{ user.homeroom }}">
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-success">Update Student</button>
                                <a href="/user" class="btn btn-secondary ms-2">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}